<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./header.css">
    <script src="./index.js" defer></script>
    <title>Document</title>
</head>

<body>
    <header id="header">
        <nav>
            <div id="header_top">
                <h1>Медицински Център "Super Doc"</h1>
                <ul class="menu_big">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Procedures</a></li>
                    <li><a href="/">About us</a></li>
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Register</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
                <button id="toggle_menu">&#9776;</button>
            </div>
            <div id="header_menu">
                <ul class="menu_mobile">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Procedures</a></li>
                    <li><a href="/">About us</a></li>
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Register</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>

</body>

</html>